<header class="top-nav fixed-top">
  <nav id="landing-nav-bar" class="navbar navbar-expand-lg navbar-light main-greystone">
    <div class="container">
      {% set href = module.logo_link.url.href %}
        {% if module.logo_link.url.type is equalto "EMAIL_ADDRESS" %}
          {% set href = "mailto:" + href %}
        {% endif %}
        {% set rel = [] %}
        {% if module.logo_link.no_follow %}
          {% do rel.append("nofollow") %}
        {% endif %}
        {% if module.logo_link.open_in_new_tab %}
          {% do rel.append("noopener") %}
        {% endif %}
        <a href="{{ href }}" class="navbar-brand"
          {% if module.logo_link.open_in_new_tab %}target="_blank"{% endif %}
          {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
          >
        {% if module.logo_image.src %}
          {% set sizeAttrs = 'width="{{ module.logo_image.width }}" height="{{ module.logo_image.height }}"' %}
          {% if module.logo_image.size_type == 'auto' %}
            {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
          {% elif module.logo_image.size_type == 'auto_custom_max' %}
            {% set sizeAttrs = 'width="{{ module.logo_image.max_width }}" height="{{ module.logo_image.max_height }}" style="max-width: 100%; height: auto;"' %}
          {% endif %}
           {% set loadingAttr = module.logo_image.loading != 'disabled' ? 'loading="{{ module.logo_image.loading }}"' : '' %}
          <img src="{{ module.logo_image.src }}" alt="{{ module.logo_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }} class="main-logo">
        {% endif %}
       </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="nav-bar-items collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto menu-hide">

          <li class="nav-item dropdown active">
            {% if module.nav_titles.link_group_1.enable_disable_dropdown_menu_choice == "enable" %}
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% else %}
              <a class="nav-link" href="{{ module.nav_titles.link_group_1.top_tier_link.url.href }}">
            {% endif %}
              {{ module.nav_titles.link_group_1.nav_title }}
            </a>
            {% if module.nav_titles.link_group_1.enable_disable_dropdown_menu_choice == "enable" %}
              <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                <div class="navbar-menu-content center">
                  <div class="row">
                    <div class="col-md-12">
                      <ul>
                         {% for item in module.nav_titles.link_group_1.link_group %}
                          <li><a class="dropdown-item" href="{{ item.link_url.href }}">{{ item.link_text }}</a></li>
                         {% endfor %}                    
                      </ul>
                    </div>
                  </div>

                </div>
              </div>
            {% endif %}
          </li>
          <li class="nav-item dropdown">
            {% if module.nav_titles.link_group_2.enable_disable_dropdown_menu_choice == "enable" %}
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% else %}
              <a class="nav-link" href="{{ module.nav_titles.link_group_2.top_tier_link.url.href }}">
            {% endif %}
              {{ module.nav_titles.link_group_2.nav_title }}
            </a>
            {% if module.nav_titles.link_group_2.enable_disable_dropdown_menu_choice == "enable" %}
              <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                <div class="navbar-menu-content center">
                  <div class="row">
                    <div class="col-md-12">
                      <ul>
                         {% for item in module.nav_titles.link_group_2.link_group %}
                          <li><a class="dropdown-item" href="{{ item.link_url.href }}">{{ item.link_text }}</a></li>
                         {% endfor %}                    
                      </ul>
                    </div>
                  </div>

                </div>
              </div>
            {% endif %}
          </li>
          <!--
          <li class="nav-item dropdown language-selector">

            <a class="nav-link dropdown-toggle language-link" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              EN
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
              <div class="navbar-menu-content container">
                <div class="row">
                  <div class="col-md-12">
                    {% inline_rich_text field="title_language" value="{{ module.title_language }}" %}
                    <ul>
                      <li class="lng-en"><a class="dropdown-item" href="/{{ content.translated_content['en'].slug || 'en' }}">English</a></li>
                      <li class="lng-es"><a class="dropdown-item" href="/{{ content.translated_content['es'].slug || 'es' }}">Spanish</a></li>
                      <li class="lng-pt"><a class="dropdown-item" href="/{{ content.translated_content['pt'].slug || 'pt' }}">Portuguese</a></li>
                      <li class="lng-ru"><a class="dropdown-item" href="/{{ content.translated_content['ru'].slug || 'ru' }}">Russian</a></li>
                      <li class="lng-zh"><a class="dropdown-item" href="/{{ content.translated_content['zh'].slug || 'zh' }}">Chinese</a></li>
                      <li class="lng-ko"><a class="dropdown-item" href="/{{ content.translated_content['ko'].slug || 'ko' }}">Korean</a></li>
                      <li class="lng-ja"><a class="dropdown-item" href="/{{ content.translated_content['es'].slug || 'ja' }}">Japanese</a></li>

                      <li class="lng-en"><a class="dropdown-item" href="https://ilsc.com">English</a></li>
                      <li class="lng-es"><a class="dropdown-item" href="https://ilsc-espanol.com">Spanish</a></li>
                      <li class="lng-pt"><a class="dropdown-item" href="https://ilsc.com.br">Portuguese</a></li>
                      <li class="lng-ko"><a class="dropdown-item" href="https://ilsckorea.kr">Korean</a></li>
                      <li class="lng-ja"><a class="dropdown-item" href="https://ilsc-school.jp">Japanese</a></li>
                    </ul>
                  </div>
                </div>

              </div>
            </div>

          </li>

-->
          <li class="nav-item dropdown search">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-search"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
              <div class="navbar-menu-content container search-content">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-container">
                      {% inline_rich_text field="search_menu.title_search" value="{{ module.search_menu.title_search }}" %}
                      <form action="#">
                        <div class="form-group">
                          <input class="form-control form-control-lg" type="text" placeholder="{{ module.search_menu.text_search_placeholder }}">
                          <div class="input-group-append btn-search">
                            <button type="submit" class="btn btn-primary btn-clear"><i class="fas fa-times"></i></button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </nav>
</header>

