<section class="section bg-white-canvas">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				{% inline_rich_text field="title" value="{{ module.title }}" %}
      </div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="blue-box-slide">
					{% for item in module.box_slide %}
	          {% if item.box_image.src %}
					 <div>
					 	<div class="box-container no-pad">
					 		<div class="row bg-blue">
					 			<div class="col-md-5">
					 				<div class="box-content">
							 		{% inline_rich_text field="item.box_title" value="{{ item.box_title }}" %}
							 		</div>
					 			</div>
					 			<div class="col-md-7 box-no-pad-image" {% if item.box_image.src %} style="background:url({{ item.box_image.src }}) no-repeat;background-size:cover;"{% endif %}>
					 				
					 			</div>
					 		</div>				 		
					 	</div>
					 </div> 
            {% endif %}
          {% endfor %}
          
				</div>
			</div>
		</div>
	</div>
</section>