<section class="section section-box-overlap bg-white-canvas" id="content">
	<div class="container">
		<div class="row cta-row">
			<div class="col-md-6">
				<h2>{{ module.title }}</h2>
			</div>
			<div class="col-md-6">
				<div class="hero-video-container btn-video-container">
					<div><i class="far fa-play-circle"></i></div><div><a href="#ilscModal" data-toggle="modal" class="video-btn" src="{{ module.video_link_url.href }}">{{ module.video_text }}</a></div>
				</div>
			</div>
		</div>
		<div class="row">  
      <div class="col-md-6">
        <div>
          <div class="box-container" {% if module.box_1.new_window_choice == "yes" %} onclick="window.open('{{ module.box_1.page_link_url.href }}','_blank');" {% else %} onclick="location.href='{{ module.box_1.page_link_url.href }}';" {% endif %}>
            <div class="title-container">
              {% inline_rich_text field="title" value="{{ module.box_1.title }}" %}
            </div> 
            {% if module.box_1.image_field.src %}
              {% set sizeAttrs = 'width="{{ module.box_1.image_field.width }}" height="{{ module.box_1.image_field.height }}"' %}
              {% if module.box_1.image_field.size_type == 'auto' %}
                {% set sizeAttrs = 'width="{{ module.box_1.image_field.width }}" height="{{ module.box_1.image_field.height }}" style="max-width: 100%; height: auto;"' %}
              {% elif module.box_1.image_field.size_type == 'auto_custom_max' %}
                {% set sizeAttrs = 'width="{{ module.box_1.image_field.max_width }}" height="{{ module.box_1.image_field.max_height }}" style="max-width: 100%; height: auto;"' %}
              {% endif %}
               {% set loadingAttr = module.box_1.image_field.loading != 'disabled' ? 'loading="{{ module.box_1.image_field.loading }}"' : '' %}
            <img src="{{ module.box_1.image_field.src }}" alt="{{ module.box_1.image_field.alt }}" {{loadingAttr}} {{sizeAttrs}}>
            {% endif %}
            <div class="short-description-container">
              <div class="short-description">			 			
                {% inline_rich_text field="short_description" value="{{ module.box_1.short_description }}" %}

              </div>

            </div>
            <i class="fas fa-plus-circle"></i>
          </div>
        </div> 
      </div>
      <div class="col-md-6">
        <div>
          <div class="box-container" {% if module.box_2.new_window_choice == "yes" %} onclick="window.open('{{ module.box_2.page_link_url.href }}','_blank');" {% else %} onclick="location.href='{{ module.box_2.page_link_url.href }}';" {% endif %}>
            <div class="title-container">
              {% inline_rich_text field="title" value="{{ module.box_2.title }}" %}
            </div>
                    
            {% if module.box_2.image_field.src %}
              {% set sizeAttrs = 'width="{{ module.box_2.image_field.width }}" height="{{ module.box_2.image_field.height }}"' %}
              {% if module.box_2.image_field.size_type == 'auto' %}
                {% set sizeAttrs = 'width="{{ module.box_2.image_field.width }}" height="{{ module.box_2.image_field.height }}" style="max-width: 100%; height: auto;"' %}
              {% elif module.box_2.image_field.size_type == 'auto_custom_max' %}
                {% set sizeAttrs = 'width="{{ module.box_2.image_field.max_width }}" height="{{ module.box_2.image_field.max_height }}" style="max-width: 100%; height: auto;"' %}
              {% endif %}
               {% set loadingAttr = module.box_2.image_field.loading != 'disabled' ? 'loading="{{ module.box_2.image_field.loading }}"' : '' %}
            <img src="{{ module.box_2.image_field.src }}" alt="{{ module.box_2.image_field.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
            {% endif %}
            <div class="short-description-container">
              <div class="short-description">			 			
                {% inline_rich_text field="short_description" value="{{ module.box_2.short_description }}" %}

              </div>

            </div>
            <i class="fas fa-plus-circle"></i>
          </div>
        </div> 
      </div>
		</div>
    <div class="row row-box-3">
      <div class="col-md-4">
        <div>
          <div class="box-container" {% if module.box_3.new_window_choice == "yes" %} onclick="window.open('{{ module.box_3.page_link_url.href }}','_blank');" {% else %} onclick="location.href='{{ module.box_3.page_link_url.href }}';" {% endif %}>
            <div class="title-container">
              {% inline_rich_text field="title" value="{{ module.box_3.title }}" %}
            </div>
            
            {% if module.box_3.image_field.src %}
              {% set sizeAttrs = 'width="{{ module.box_3.image_field.width }}" height="{{ module.box_3.image_field.height }}"' %}
              {% if module.box_3.image_field.size_type == 'auto' %}
                {% set sizeAttrs = 'width="{{ module.box_3.image_field.width }}" height="{{ module.box_3.image_field.height }}" style="max-width: 100%; height: auto;"' %}
              {% elif module.box_3.image_field.size_type == 'auto_custom_max' %}
                {% set sizeAttrs = 'width="{{ module.box_3.image_field.max_width }}" height="{{ module.box_3.image_field.max_height }}" style="max-width: 100%; height: auto;"' %}
              {% endif %}
               {% set loadingAttr = module.box_3.image_field.loading != 'disabled' ? 'loading="{{ module.box_3.image_field.loading }}"' : '' %}
            <img src="{{ module.box_3.image_field.src }}" alt="{{ module.box_3.image_field.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
            {% endif %}
            <div class="short-description-container">
              <div class="short-description">			 			
                {% inline_rich_text field="short_description" value="{{ module.box_3.short_description }}" %}

              </div>

            </div>
            <i class="fas fa-plus-circle"></i>
          </div>
        </div> 
      </div>
      <div class="col-md-4">
        <div>
          <div class="box-container" {% if module.box_4.new_window_choice == "yes" %} onclick="window.open('{{ module.box_4.page_link_url.href }}','_blank');" {% else %} onclick="location.href='{{ module.box_4.page_link_url.href }}';" {% endif %}>
            <div class="title-container">
              {% inline_rich_text field="title" value="{{ module.box_4.title }}" %}
            </div>
            
            {% if module.box_4.image_field.src %}
              {% set sizeAttrs = 'width="{{ module.box_4.image_field.width }}" height="{{ module.box_4.image_field.height }}"' %}
              {% if module.box_4.image_field.size_type == 'auto' %}
                {% set sizeAttrs = 'width="{{ module.box_4.image_field.width }}" height="{{ module.box_4.image_field.height }}" style="max-width: 100%; height: auto;"' %}
              {% elif module.box_4.image_field.size_type == 'auto_custom_max' %}
                {% set sizeAttrs = 'width="{{ module.box_4.image_field.max_width }}" height="{{ module.box_4.image_field.max_height }}" style="max-width: 100%; height: auto;"' %}
              {% endif %}
               {% set loadingAttr = module.box_4.image_field.loading != 'disabled' ? 'loading="{{ module.box_4.image_field.loading }}"' : '' %}
            <img src="{{ module.box_4.image_field.src }}" alt="{{ module.box_4.image_field.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
            {% endif %}
            <div class="short-description-container">
              <div class="short-description">			 			
                {% inline_rich_text field="short_description" value="{{ module.box_4.short_description }}" %}

              </div>

            </div>
            <i class="fas fa-plus-circle"></i>
          </div>
        </div> 
      </div>
      <div class="col-md-4">
        <div>
          <div class="box-container" {% if module.box_5.new_window_choice == "yes" %} onclick="window.open('{{ module.box_5.page_link_url.href }}','_blank');" {% else %} onclick="location.href='{{ module.box_5.page_link_url.href }}';" {% endif %}>
            <div class="title-container">
              {% inline_rich_text field="title" value="{{ module.box_5.title }}" %}
            </div>            
            {% if module.box_5.image_field.src %}
              {% set sizeAttrs = 'width="{{ module.box_5.image_field.width }}" height="{{ module.box_5.image_field.height }}"' %}
              {% if module.box_5.image_field.size_type == 'auto' %}
                {% set sizeAttrs = 'width="{{ module.box_5.image_field.width }}" height="{{ module.box_5.image_field.height }}" style="max-width: 100%; height: auto;"' %}
              {% elif module.box_5.image_field.size_type == 'auto_custom_max' %}
                {% set sizeAttrs = 'width="{{ module.box_5.image_field.max_width }}" height="{{ module.box_5.image_field.max_height }}" style="max-width: 100%; height: auto;"' %}
              {% endif %}
               {% set loadingAttr = module.box_5.image_field.loading != 'disabled' ? 'loading="{{ module.box_5.image_field.loading }}"' : '' %}
            <img src="{{ module.box_5.image_field.src }}" alt="{{ module.box_5.image_field.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
            {% endif %}
            <div class="short-description-container">
              <div class="short-description">			 			
                {% inline_rich_text field="short_description" value="{{ module.box_5.short_description }}" %}

              </div>

            </div>
            <i class="fas fa-plus-circle"></i>
          </div>
        </div> 
      </div>
    </div>
	</div>
</section>

