.section-start-date-nav .box-nav{
  justify-content: space-around;
  align-items: center;
}
.section-start-date-nav .box-nav .box-container{
  padding:20px;
  text-align:center;
  font-weight:700;
  border-radius:5px;
  line-height:30px;
  font-size:25px;
  width 235px;
  height:105px;
  align-items:center;
  display:grid;
  box-shadow: 4px 4px 6px 0px #00000040;
  cursor:pointer;
  margin-bottom:30px;
}