<section class="section-testimonials section bg-white-canvas">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="testimonials-slide">
             <div>
              <div class="row slide-content">
                  <div class="col-md-6">
                    <div class="image-container">
                      <img src="{{ module.testimonial_image.src }}" alt="{{ module.first_name }} {{ module.last_name }}" loading="lazy" />                      
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="quote-container">
                      <h3>
                        "{{ module.testimonial_quote }}"
                      </h3>
                      <h5>{{ module.first_name }} {{ module.last_name }}, {{ module.location }}</h5>
                      {% if module.cta_group.hide_show_cta == "show" %}
                        {% if module.cta_group.video_url  %}
                          <div class="btn-video-container">
                            <div><i class="far fa-play-circle"></i></div><div><a href="#ilscModal" data-toggle="modal" class="video-btn" src="{{ module.cta_group.video_url.href }}">{{ module.cta_group.cta_text }}</a></div>
                          </div>
                        {% endif %}
                      {% endif %}
                    </div>

                  </div>
                </div>
             </div> 
           

          </div>
        </div>
      </div>
    </div>
  </section>
