.section-ilsc-choose .container{
  position:relative;
  padding-top:100px;
}
@media (max-width: 480px) {
  .section-ilsc-choose .container{
    padding-top:25px;
  }
}
.section-ilsc-choose .info-container{
  margin-bottom:30px;
}
.section-ilsc-choose .info-container h5{
  margin: 15px 0 0;
}
.section-ilsc-choose .info-container p{
  margin-top: 20px;
}
.section-ilsc-choose .info-container .icon img{
  height:53px;
  width:53px;
}
.section-ilsc-choose h2, .section-ilsc-choose h3{
  font-size:2.5rem !important;
  margin-bottom:50px;
}

.section-ilsc-choose .blob{
  position:absolute;
  width:37%;
  z-index:-1;
}

.section-ilsc-choose .blob.blob-1{
  right: -40px;
  top: -250px;
    
}
.section-ilsc-choose .blob.blob-2{
  left: -190px;
  bottom: -40px;
}
@media (max-width: 600px) {
  .section-ilsc-choose{
    padding-top:0 !important;
    text-align:center;
  }
  .section-ilsc-choose .blob{
    position:unset;
    display:none;
  }
  .section-ilsc-choose .blob.blob-1,.section-ilsc-choose .blob.blob-2{
    display:none;
  }
}