<section class="section timeline-container section-history bg-white-canvas">

	
	<div class="container">
	    
	    <div class="row timeline-centered">
	        <div class="col-md-12 timeline-title center">
	            {% inline_rich_text field="title" value="{{ module.title }}" %}
          </div>
	        <div class="col-xs-12 col-xs-offset-1 col-sm-12 col-sm-offset-2">
	        	<div class="stem-wrapper">
						<div class="stem"></div>
						<div class="stem-background"></div>
					</div>
				<div class="post-wrapper">	
		            <ul class="timeline timeline-centered">
		                           
                 {% for item in module.time_tile %} 
                    <li class="timeline-item post hidden-tl" data-stem-color="{{ module.color_theme }}">
                          <div class="timeline-info">
                              {% if item.image_field.src %}
                                <img src="{{ item.image_field.src }}" alt="{{ item.image_field.alt }}" loading="lazy">
                              {% endif %}
                          </div>
                          <div class="timeline-marker">
                            <img src="{{ module.icon_arrow }}" alt="Icon" />
                          </div>
                          <div class="timeline-content">
                            {% inline_rich_text field="content" value="{{ item.content }}" %}
                          </div>
                      </li>
                  {% endfor %}
		                                
		            </ul>
	           </div>
	        </div>
	    </div>
	</div>
</section>