/*

ILSC Top Navigation Language Programs CSS Stylesheet
Author: Tat Chow
Date: May 19, 2020

*/
/*
    Table of Contents

   
    Header Menu/Top Navigation
    
    
*/
/* Header Menu/Top Navigation */
/* line 25, ../../../sass/internal/top_navigation_landing_schools.scss */
*:first-child + html .navbar-nav {
  zoom: 1;
}

/* line 29, ../../../sass/internal/top_navigation_landing_schools.scss */
header {
  background-color: transparent;
}
/* line 36, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav.sticky {
  background-color: #FFF;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
  box-shadow: -3px 8px 13px 0px rgba(189, 189, 189, 0.57);
  -webkit-box-shadow: -3px 8px 13px 0px rgba(189, 189, 189, 0.57);
  -moz-box-shadow: -3px 8px 13px 0px rgba(189, 189, 189, 0.57);
}
/* line 50, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav.sticky a.navbar-brand img {
  filter: none !important;
}
/* line 59, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav.sticky .navbar .navbar-nav .nav-link {
  color: #111111 !important;
}
/* line 67, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 73, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
}
/* line 78, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .navbar-nav {
  list-style: none;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
}
/* line 87, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .navbar-nav .nav-link {
  color: #FFF;
  font-weight: 400;
}
/* line 93, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .navbar-nav .active > .nav-link {
  color: #FFF;
}
header.top-nav .navbar a.navbar-brand {
  margin-right:50px;
  z-index: 2;
}
/* line 103, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar a.navbar-brand img {
  filter: brightness(0) invert(1);
  width: 170px;
}
[dir="rtl"] header.top-nav .navbar a.navbar-brand img{
  float:right;
}
@media (max-width: 992.97px) {
  /* line 103, ../../../sass/internal/top_navigation_landing_schools.scss */
   header.top-nav .navbar a.navbar-brand.mobile-show img {
    filter: none;
  }
}
/* line 108, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .nav-bar-items {
  width: 65%;
}
/* line 112, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .menu-hide #magic-line {
  transition: 0s !important;
}
/* line 122, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar #magic-line {
  margin-left:7px;
  position: absolute;
  top: 65%;
  left: 0;
  width: 125px;
  height: 8px;
  background-color: #FF8B35;
  opacity: 0;
  transition: left 0.2s cubic-bezier(0.4, 0, 0.2, 1), right 0.2s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
/* line 132, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .magic-active {
  opacity: 1 !important;
}
/* line 137, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar ul .navbar-nav:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}
/* line 154, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .dropdown {
  flex: 0 1 auto;
  /* Default */
  position: unset;
}
/* line 159, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .dropdown.language-selector {
  right: -50px;
  left: inherit;
}
/* line 164, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .dropdown.language-selector .container {
  max-width: 100%;
  padding: 0;
  width: 100%;
  text-align: center;
}
/* line 171, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .dropdown.language-selector .dropdown-menu {
  box-shadow: 1px 5px 9px 1px rgba(58, 58, 58, 0.29);
  width: 125px;
  border: 0;
  right: auto;
  left: auto;
  -webkit-transform: translate(-40%, 0);
  -o-transform: translate(-40%, 0);
  transform: translate(-40%, 0);
  min-height:auto;
}
/* line 185, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .dropdown.search [data-toggle="dropdown"]:after {
  content: "";
}
/* line 191, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .dropdown.search.show [data-toggle="dropdown"]:after {
  content: "";
}
/* line 195, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .dropdown.search .dropdown-menu {
  min-height: inherit;
}
/* line 199, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .dropdown.search a.nav-link {
  padding: 0;
  margin: 10px auto 0;
  width: 40px;
  text-align: center;
  display: inline-block;
}
/* line 208, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .dropdown [data-toggle="dropdown"]:after {
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  font-weight: 600;
  content: "\f078";
  margin-top: 5px;
  margin-left: 5px;
  transition: all .5s;
}
/* line 218, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .dropdown.show [data-toggle="dropdown"]:after {
  content: "\f077";
}
/* line 221, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .dropdown .dropdown-toggle {
  display: flex;
}
/* line 224, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .dropdown .dropdown-toggle:after {
  border: none;
}
/* line 227, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .dropdown .dropdown-menu {
  border: 0;
  border-radius: 0;
  display: unset;
  padding: 30px 0;
  top: 90%;
  transition: none;
  visibility: hidden;
  width: 100%;
  box-shadow: -3px 3px 13px 4px rgba(189, 189, 189, 0.57);
  -webkit-box-shadow: -3px 3px 13px 4px rgba(189, 189, 189, 0.57);
  -moz-box-shadow: -3px 3px 13px 4px rgba(189, 189, 189, 0.57);
  min-height: 250px;
}
/* line 242, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .dropdown .dropdown-menu h4 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: .5px;
}
/* line 247, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .dropdown .dropdown-menu h5 {
  font-size: 1rem;
  font-weight: 700;
}
/* line 255, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content .row {
  opacity: 0;
  transition: opacity .5s, margin-left .5s;
}
/* line 262, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content.search-content .form-container {
  margin: 0 auto;
  width: 90%;
}
/* line 265, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content.search-content .form-container h4 {
  margin-bottom: 3rem;
}
/* line 268, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content.search-content .form-container input {
  border-left: 0;
  display: inline-block;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #111111;
  border-top: 0;
  border-right: 0;
  border-radius: 0;
}
/* line 278, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content.search-content .form-container input:focus {
  outline: 1px solid #FFF;
}
/* line 282, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content.search-content .form-container .btn-search {
  display: inline-block;
  position: absolute;
  right: 60px;
}
/* line 286, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content.search-content .form-container .btn-search .btn {
  display: inline-block;
}
/* line 288, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content.search-content .form-container .btn-search .btn i {
  font-size: 32px;
}
/* line 297, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content.study-content .vertical-divider {
  right: 20px;
}
/* line 303, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content.login-content .col-md-6 {
  padding: 0 60px;
}
/* line 306, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content.login-content .vertical-divider {
  right: 40px;
}
/* line 311, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content.login-content .btn-black-outline {
  margin-bottom: 20px;
}
/* line 316, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content.accom-content .col-md-6 {
  padding: 0 60px;
}
/* line 319, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content.accom-content .vertical-divider {
  right: 0;
}
/* line 324, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content .vertical-divider {
  border-left: 1px solid #E0E0E0;
  min-height: 190px;
  position: absolute;
  top: 0px;
  right: -10px;
}
/* line 331, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content .button-row {
  margin-top: 30px;
}
/* line 338, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content .link-image {
  vertical-align: top;
}
/* line 342, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content .link-image img {
  width: 75px;
}
/* line 349, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content .link-image.link-image-sm img {
  width: 35px;
}
/* line 358, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content .link-image.link-image-lg img {
  width: 100%;
}
/* line 367, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content .link-container.col-md-4 {
  padding: 0 60px;
}
/* line 370, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content .link-container h4 {
  font-size: 1rem;
  font-weight: 700;
}
/* line 376, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content .link-container.col {
  display: flex;
  padding: 0 5px;
}
/* line 381, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content .link-container.col h4 {
  font-size: 1rem;
}
/* line 385, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content .link-container > div {
  display: table-cell;
  padding: 0 15px 0 0;
}
/* line 390, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content .link-container .link-image {
  vertical-align: top;
}
/* line 394, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content .link-container .link-image img {
  width: 35px;
}
/* line 401, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content .link-container .link-image.link-image-sm img {
  width: 35px;
}
/* line 410, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .dropdown .dropdown-menu ul {
  padding-left: 0;
}
/* line 413, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .dropdown .dropdown-menu ul li {
  list-style-type: none;
}
/* line 417, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .dropdown .dropdown-menu ul li a {
  padding-left: 0;
}
/* line 421, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .dropdown .dropdown-menu ul li a.dropdown-item {
  color: #111111;
  font-weight: 400;
}
/* line 425, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .dropdown .dropdown-menu ul li a.dropdown-item:hover {
  background-color: unset;
  color: #FF8B35;
  text-decoration: none;
}
/* line 434, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .dropdown .dropdown-menu ul li.dropdown-item {
  opacity: 0;
  margin-left: -20px;
  transition: opacity 0s, margin-left 0s;
}
/* line 445, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .dropdown .dropdown-menu.show {
  transition: none;
  visibility: visible;
}
/* line 450, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .dropdown .dropdown-menu.show .dropdown-item {
  opacity: 1;
  margin-left: 0;
  transition: opacity .5s, margin-left .5s;
}
/* line 459, ../../../sass/internal/top_navigation_landing_schools.scss */
header.top-nav .navbar .dropdown .dropdown-menu.show .navbar-menu-content .row {
  opacity: 1;
  transition: opacity .5s, margin-left .5s;
  width:100%;
}
@media (min-width: 1200px) {
header.top-nav .navbar .dropdown .dropdown-menu.show .navbar-menu-content .row {
  flex-flow:nowrap;
  }
}

/* line 473, ../../../sass/internal/top_navigation_landing_schools.scss */
header {
  /*Mobile Slide*/
}
/* line 474, ../../../sass/internal/top_navigation_landing_schools.scss */
header .header-cta-container {
  display: none;
}
/* line 477, ../../../sass/internal/top_navigation_landing_schools.scss */
header .header-cta-container .btn {
  width: 200px;
  margin: 15px 0;
}
@media (max-width: 480px) {
  /* line 477, ../../../sass/internal/top_navigation_landing_schools.scss */
  header .header-cta-container .btn {
    width: 100%;
  }
}
/* line 483, ../../../sass/internal/top_navigation_landing_schools.scss */
header.home-nav {
  height: 100px;
}
/* line 486, ../../../sass/internal/top_navigation_landing_schools.scss */
header.home-nav .container {
  padding-left: 0;
  padding-right: 0;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
/* line 493, ../../../sass/internal/top_navigation_landing_schools.scss */
header.home-nav .logo {
  height: 100px;
  align-items: center;
  display: flex;
  margin: 0 auto;
}
/* line 499, ../../../sass/internal/top_navigation_landing_schools.scss */
header.home-nav .logo img {
  filter: brightness(0) invert(1);
}
/* line 504, ../../../sass/internal/top_navigation_landing_schools.scss */
header.home-nav .navbar {
  margin-top: -80px;
  z-index: 1;
}
/* line 509, ../../../sass/internal/top_navigation_landing_schools.scss */
header.home-nav .navbar .dropdown .dropdown-menu {
  top: 140%;
}
/* line 514, ../../../sass/internal/top_navigation_landing_schools.scss */
header.home-nav .navbar .dropdown .dropdown-menu ul li {
  padding-left: 15px;
}
/* line 522, ../../../sass/internal/top_navigation_landing_schools.scss */
header.home-nav .navbar #magic-line {
  top: 75%;
}
/* line 525, ../../../sass/internal/top_navigation_landing_schools.scss */
header.home-nav .navbar .navbar-nav {
  justify-content: flex-end;
}
/* line 529, ../../../sass/internal/top_navigation_landing_schools.scss */
header.home-nav .navbar .navbar-nav .login-content .row, header.home-nav .navbar .navbar-nav .language-selector .row {
  margin: 0 auto !important;
  width: 100%;
}
/* line 536, ../../../sass/internal/top_navigation_landing_schools.scss */
header.home-nav .navbar .navbar-nav .language-selector {
  margin-left: 30px;
}
/* line 539, ../../../sass/internal/top_navigation_landing_schools.scss */
header.home-nav .navbar .navbar-nav .language-selector .link-container {
  text-align: center;
}
/* line 544, ../../../sass/internal/top_navigation_landing_schools.scss */
header.home-nav .navbar .navbar-nav .language-selector .link-container ul li a {
  padding-left: 20px;
}
/* line 558, ../../../sass/internal/top_navigation_landing_schools.scss */
header.sticky .hamburger-menu .menu-item {
  background: #111111;
}
/* line 565, ../../../sass/internal/top_navigation_landing_schools.scss */
header.sticky .logo img {
  filter: none;
}
@media (min-width: 768px) {
  /* line 571, ../../../sass/internal/top_navigation_landing_schools.scss */
  header .mobile-nav-wrap {
    /* display: none; */
  }
}
/* line 577, ../../../sass/internal/top_navigation_landing_schools.scss */
header .mobile-header-nav {
  background-color: #FFFFFF;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100px;
  width: 100%;
  border-top: 0;
  box-shadow: -3px 8px 13px 0px rgba(189, 189, 189, 0.57);
  -webkit-box-shadow: -3px 8px 13px 0px rgba(189, 189, 189, 0.57);
}
/* line 591, ../../../sass/internal/top_navigation_landing_schools.scss */
header .mobile-header-nav ul {
  display: flex;
  align-items: stretch;
  /* Default */
  justify-content: space-between;
  align-items: center;
  height: 130px;
  padding: 0 60px;
  width: 100%;
}
/* line 600, ../../../sass/internal/top_navigation_landing_schools.scss */
header .mobile-header-nav ul li {
  display: inline;
}
/* line 604, ../../../sass/internal/top_navigation_landing_schools.scss */
header .mobile-header-nav ul li a {
  color: #111111;
  display: block;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  font-size: 1.25rem;
  font-weight: 700;
}
/* line 614, ../../../sass/internal/top_navigation_landing_schools.scss */
header .mobile-header-nav ul li a:hover {
  color: #FF8B35;
}
/* line 627, ../../../sass/internal/top_navigation_landing_schools.scss */
header .hamburger-menu {
  display: inline-block;
  height: 100px;
  padding: 35px 25px;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}
/* line 633, ../../../sass/internal/top_navigation_landing_schools.scss */
header .hamburger-menu:hover {
  cursor: pointer;
}
/* line 637, ../../../sass/internal/top_navigation_landing_schools.scss */
header .hamburger-menu .menu-item {
  background: #FFFFFF;
  display: block;
  height: 3px;
  margin: 0 0 10px;
  transition: all 0.3s ease-in-out;
  width: 40px;
}
/* line 648, ../../../sass/internal/top_navigation_landing_schools.scss */
header .hamburger-menu.open .menu-item {
  margin: 0 0 5px;
}
/* line 651, ../../../sass/internal/top_navigation_landing_schools.scss */
header .hamburger-menu.open .menu-item:first-child {
  transform: rotate(45deg);
  transform-origin: 10px;
}
/* line 655, ../../../sass/internal/top_navigation_landing_schools.scss */
header .hamburger-menu.open .menu-item:nth-child(2) {
  opacity: 0;
}
/* line 658, ../../../sass/internal/top_navigation_landing_schools.scss */
header .hamburger-menu.open .menu-item:nth-child(3) {
  transform: rotate(-45deg);
  transform-origin: 8px;
}
@media (max-width: 991.9px) {
  header.top-nav.fixed-top{
    padding:20px 0;
  }
  /* line 668, ../../../sass/internal/top_navigation_landing_schools.scss */
  header .header-cta-container {
    display: block;
  }
  /* line 673, ../../../sass/internal/top_navigation_landing_schools.scss */
  header.top-nav .navbar #magic-line {
    display: none;
  }
  /* line 678, ../../../sass/internal/top_navigation_landing_schools.scss */
  header.top-nav .navbar .dropdown [data-toggle="dropdown"]:after {
    margin-top: 15px;
  }
  /* line 682, ../../../sass/internal/top_navigation_landing_schools.scss */
  header.top-nav .navbar .nav-bar-items {
    padding-top: 100px;
  }
  /* line 688, ../../../sass/internal/top_navigation_landing_schools.scss */
  header.top-nav.sticky .navbar-light .navbar-toggler-icon {
    border-bottom: 2px solid #111111;
  }
  /* line 693, ../../../sass/internal/top_navigation_landing_schools.scss */
  header.top-nav.sticky .navbar-light .navbar-toggler-icon:after,
  header.top-nav.sticky .navbar-light .navbar-toggler-icon:before {
    background-color: #111111;
  }
  /* line 703, ../../../sass/internal/top_navigation_landing_schools.scss */
  header.top-nav .navbar a.navbar-brand img {
    width: 170px;
  }
  /* line 709, ../../../sass/internal/top_navigation_landing_schools.scss */
  header.top-nav .navbar-toggler {
    float: right;
    border: none;
    padding-right: 20px;
    padding-top: 0px;
  }
  /* line 715, ../../../sass/internal/top_navigation_landing_schools.scss */
  header.top-nav .navbar-toggler:active,
  header.top-nav .navbar-toggler:focus {
    outline: none;
  }
  /* line 719, ../../../sass/internal/top_navigation_landing_schools.scss */
  header.top-nav .navbar-light .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    border-bottom: 2px solid #FFF;
    transition: all 300ms linear;
  }
  /* line 727, ../../../sass/internal/top_navigation_landing_schools.scss */
  header.top-nav .navbar-light .navbar-toggler-icon:after,
  header.top-nav .navbar-light .navbar-toggler-icon:before {
    width: 24px;
    position: absolute;
    height: 2px;
    background-color: #FFF;
    top: 0;
    left: 0;
    content: '';
    z-index: 2;
    transition: all 300ms linear;
  }
  /* line 739, ../../../sass/internal/top_navigation_landing_schools.scss */
  header.top-nav .navbar-light .navbar-toggler-icon:after {
    top: 8px;
  }
  /* line 742, ../../../sass/internal/top_navigation_landing_schools.scss */
  header.top-nav .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
    background-color: #111111;
  }
  /* line 746, ../../../sass/internal/top_navigation_landing_schools.scss */
  header.top-nav .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg);
    background-color: #111111;
  }
  /* line 750, ../../../sass/internal/top_navigation_landing_schools.scss */
  header.top-nav .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
    border-bottom: 1px solid #111111;
  }
  /* line 755, ../../../sass/internal/top_navigation_landing_schools.scss */
  header .navbar-collapse {
    position: fixed;
    top: 0px;
    left: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    width: 100% !important;
    height: 100%;
    background-color: #FFF;
  }
  /* line 766, ../../../sass/internal/top_navigation_landing_schools.scss */
  header .navbar-collapse.collapsing {
    left: -75%;
    transition: height 0s ease;
  }
  /* line 771, ../../../sass/internal/top_navigation_landing_schools.scss */
  header .navbar-collapse.show {
    left: 0;
    transition: left 300ms ease-in-out;
  }
  /* line 776, ../../../sass/internal/top_navigation_landing_schools.scss */
  header .navbar-collapse .navbar-nav {
    max-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
     display: flex;
    flex-direction: column;
  }
  /* line 784, ../../../sass/internal/top_navigation_landing_schools.scss */
  header .navbar-collapse .navbar-nav li.nav-item.active .nav-link {
    color: #111111;
  }
    /* line 797, ../../../sass/internal/top_navigation_landing_schools.scss */
  header .navbar-collapse .navbar-nav li.nav-item:last-child {
    order: -1;
  }
  /* line 789, ../../../sass/internal/top_navigation_landing_schools.scss */
  header .navbar-collapse .navbar-nav li.nav-item.language-selector .link-container {
    text-align: left;
  }
  /* line 794, ../../../sass/internal/top_navigation_landing_schools.scss */
  header .navbar-collapse .navbar-nav li.nav-item.language-selector .dropdown-menu .navbar-menu-content {
    text-align: left;
  }
  /* line 797, ../../../sass/internal/top_navigation_landing_schools.scss */
  header .navbar-collapse .navbar-nav li.nav-item.language-selector .dropdown-menu .navbar-menu-content .col-md-12 {
    padding: 30px 5px 0px 30px !important;
  }
  /* line 802, ../../../sass/internal/top_navigation_landing_schools.scss */
  header .navbar-collapse .navbar-nav li.nav-item.language-selector .dropdown-menu .navbar-menu-content .col-md-12 ul li a {
    padding-left: 0;
  }
  /* line 811, ../../../sass/internal/top_navigation_landing_schools.scss */
  header .navbar-collapse .navbar-nav li.nav-item .nav-link {
    color: #111111;
  }
  /* line 814, ../../../sass/internal/top_navigation_landing_schools.scss */
  header .navbar-collapse .navbar-nav li.nav-item .dropdown-menu {
    display: none;
    box-shadow: none;
  }
  /* line 818, ../../../sass/internal/top_navigation_landing_schools.scss */
  header .navbar-collapse .navbar-nav li.nav-item .dropdown-menu .navbar-menu-content {
    padding-bottom: 30px;
  }
  /* line 823, ../../../sass/internal/top_navigation_landing_schools.scss */
  header .navbar-collapse .navbar-nav li.nav-item .dropdown-menu .navbar-menu-content .link-container h4 br {
    display: none;
  }
  /* line 830, ../../../sass/internal/top_navigation_landing_schools.scss */
  header .navbar-collapse .navbar-nav li.nav-item .dropdown-menu .navbar-menu-content.search-content .form-container .btn-search {
    right: 0;
  }
  /* line 837, ../../../sass/internal/top_navigation_landing_schools.scss */
  header .navbar-collapse .navbar-nav li.nav-item .dropdown-menu .navbar-menu-content.login-content .col-md-6, header .navbar-collapse .navbar-nav li.nav-item .dropdown-menu .navbar-menu-content.login-content .col-md-3 {
    padding: 30px 5px 0px 30px !important;
    flex-basis: auto;
  }
  /* line 842, ../../../sass/internal/top_navigation_landing_schools.scss */
  header .navbar-collapse .navbar-nav li.nav-item .dropdown-menu .navbar-menu-content .button-row {
    margin-top: 0;
  }
  /* line 845, ../../../sass/internal/top_navigation_landing_schools.scss */
  header .navbar-collapse .navbar-nav li.nav-item .dropdown-menu .navbar-menu-content .button-row .col {
    flex-basis: unset;
  }
  /* line 850, ../../../sass/internal/top_navigation_landing_schools.scss */
  header .navbar-collapse .navbar-nav li.nav-item .dropdown-menu .navbar-menu-content .btn {
    width: 90%;
  }
  /* line 853, ../../../sass/internal/top_navigation_landing_schools.scss */
  header .navbar-collapse .navbar-nav li.nav-item .dropdown-menu .navbar-menu-content .col-md-6, header .navbar-collapse .navbar-nav li.nav-item .dropdown-menu .navbar-menu-content .col-md-3 {
    padding: 0 !important;
  }
  /* line 856, ../../../sass/internal/top_navigation_landing_schools.scss */
  header .navbar-collapse .navbar-nav li.nav-item .dropdown-menu .navbar-menu-content .link-container, header .navbar-collapse .navbar-nav li.nav-item .dropdown-menu .navbar-menu-content .col {
    padding: 30px 5px 0px 30px !important;
    flex-basis: auto;
  }
  /* line 863, ../../../sass/internal/top_navigation_landing_schools.scss */
  header .navbar-collapse .navbar-nav li.nav-item .dropdown-menu .navbar-menu-content .link-image {
    display: none;
  }

  /* line 867, ../../../sass/internal/top_navigation_landing_schools.scss */
  header .navbar-collapse .navbar-nav li.nav-item .dropdown-menu .navbar-menu-content .link-image.link-image-lg img {
    display: none;
  }
  /* line 873, ../../../sass/internal/top_navigation_landing_schools.scss */
  header .navbar-collapse .navbar-nav li.nav-item .dropdown-menu .vertical-divider {
    display: none !important;
  }
  /* line 882, ../../../sass/internal/top_navigation_landing_schools.scss */
  header .navbar-collapse .navbar-nav li.nav-item.show .dropdown-menu {
    display: unset;
  }
  /* line 892, ../../../sass/internal/top_navigation_landing_schools.scss */
  header .navbar-toggler.collapsed ~ .navbar-collapse {
    transition: left 500ms ease-in-out;
  }
  /* line 899, ../../../sass/internal/top_navigation_landing_schools.scss */
  header .nav-bar-items .navbar-nav .nav-item .nav-link {
    font-size: 1.75rem;
  }
}


/*Main Group Top Nav*/
header.top-nav.main-group .mobile-header-nav{
  height:0;
  transition: height .5s;
}
header.top-nav.main-group .mobile-header-nav ul{
    transition: height .5s,visibility 0s,opacity .1s;
    visibility: hidden;
    height: 0;
    opacity: 0;
}
header.top-nav.main-group .mobile-header-nav.open{
  height:100%;
}
header.top-nav.main-group .mobile-header-nav.open ul{
    transition: all 0s;
    visibility: visible;
    height: 100%;
    opacity: 1;
}
header.top-nav.main-group .navbar .container{
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
}
header.top-nav.main-group .navbar .container.top-menu >div{
  flex: 0 1 auto;
  width:33%;
}

header.top-nav.main-group .navbar .container .main-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:center;
}
header.top-nav.main-group .navbar a.navbar-brand{
  width:100%;
  padding:0;
  margin:0;
}
header.top-nav.main-group .navbar a.navbar-brand img {
  width: 200px;
}
header.top-nav.main-group .navbar {
  padding-top: 0;
  padding-bottom: 0;
}
@media (min-width: 992.1px) {
  
  header.top-nav.main-group .hamburger-menu {
    padding:35px 0;
  }
  [dir="rtl"] header.top-nav.main-group .hamburger-menu{
    float:right;
  }
  [dir="rtl"] header.top-nav .navbar .dropdown.language-selector .dropdown-menu{
    transform: translate(60%);
  }
  header.top-nav.main-group .navbar .nav-bar-items{
    padding-left:150px;
    width:unset;
  }
   header.top-nav.main-group .navbar .nav-bar-items li.left-menu{
    display:none;
  }
  header.top-nav.main-group .navbar .nav-bar-items li.dropdown:not(:first-child):not(:last-child){
    padding:0 20px;
  }
}
@media (max-width: 992px) {
 header.top-nav.main-group .navbar .container.top-menu >div:first-child{
    display:none;
  }
}
header nav .nav-bar-items .dropdown.language-selector .dropdown-menu .navbar-menu-content.container{
  justify-content: center;
}
header nav .nav-bar-items .dropdown.language-selector .dropdown-menu .navbar-menu-content.container .row{
  margin-left:0;
  margin-right:0;
}
