{% set queryparam = '' %}
{% set queryparam = queryparam ~ "&program_name__eq="+module.program_choice|urlencode%}

{% set programs = hubdb_table_rows(5475402,queryparam) %}
{% set langVal = content.language.languageTag|trim %}
{% set langCode = langVal && langVal !='en' ? '/'+langVal : '' %}

<section class="section-normal section-4-column-boxes section-destination {{ module.margin_choice }}">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% inline_rich_text field="title_rich_text" value="{{ module.title_rich_text }}" %}
        <div class="description">
          {% inline_rich_text field="description_rich_text" value="{{ module.description_rich_text }}" %}
        </div>
      </div>
    </div>
    <div class="row images-box-container">

      {% for program in programs %}
        {% for campus in program.campus|sort(False, False, "name") %}
        <div class="col-md-3" onclick="location.href='{{langCode}}{{campus.url_path}}';">
          <div class="box-container" style="background-image: url('{{campus.image.url}}');">
            <div class="bottom-container">
              <div class="title-container">
                {{campus.name|upper}}, {{campus.state_province|upper}}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      {% endfor %}
      
    </div>
  </div>
</section>