<footer class="footer-container">
	<div class="container">
		<div class="row">
			<div class="col-md-4 logo-image">
          <img src="{{ module.logo.src }}" alt="{{ module.logo.alt }}" {{ sizeAttrs }}>
			</div>
			<div class="col-md-2">
				{% inline_rich_text field="company_menu.title_company" value="{{ module.company_menu.title_company }}" %}
				<ul>
					<li><a href="{{ module.company_menu.link_1.link_url_1.url.href }}">{% inline_text field="company_menu.link_1.link_text_1" value="{{ module.company_menu.link_1.link_text_1 }}" %}</a></li>
					<li><a href="{{ module.company_menu.link_2.link_url_2.url.href }}">{% inline_text field="company_menu.link_2.link_text_2" value="{{ module.company_menu.link_2.link_text_2 }}" %}</a></li>
					<li><a href="{{ module.company_menu.link_3.link_url_3.url.href }}">{% inline_text field="company_menu.link_3.link_text_3" value="{{ module.company_menu.link_3.link_text_3 }}" %}</a></li>
					<li><a href="{{ module.company_menu.link_4.link_url_4.url.href }}">{% inline_text field="company_menu.link_4.link_text_4" value="{{ module.company_menu.link_4.link_text_4 }}" %}</a></li>
					<li><a href="{{ module.company_menu.link_5.link_url_5.url.href }}">{% inline_text field="company_menu.link_5.link_text_5" value="{{ module.company_menu.link_5.link_text_5 }}" %}</a></li>
					<li><a href="{{ module.company_menu.link_6.link_url_6.url.href }}">{% inline_text field="company_menu.link_6.link_text_6" value="{{ module.company_menu.link_6.link_text_6 }}" %}</a></li>
				</ul>
			</div>
			<div class="col-md-2">
				{% inline_rich_text field="our_programs_menu.title_programs" value="{{ module.our_programs_menu.title_programs }}" %}
				<ul>
					<li><a href="{{ module.our_programs_menu.link_1.link_url_1.url.href }}">{% inline_text field="our_programs_menu.link_1.link_text_1" value="{{ module.our_programs_menu.link_1.link_text_1 }}" %}</a></li>
					<li><a href="{{ module.our_programs_menu.link_2.link_url_2.url.href }}">{% inline_text field="our_programs_menu.link_2.link_text_2" value="{{ module.our_programs_menu.link_2.link_text_2 }}" %}</a></li>
					<li><a href="{{ module.our_programs_menu.link_3.link_url_3.url.href }}">{% inline_text field="our_programs_menu.link_3.link_text_3" value="{{ module.our_programs_menu.link_3.link_text_3 }}" %}</a></li>
					<li><a href="{{ module.our_programs_menu.link_4.link_url_4.url.href }}">{% inline_text field="our_programs_menu.link_4.link_text_4" value="{{ module.our_programs_menu.link_4.link_text_4 }}" %}</a></li>
					<li><a href="{{ module.our_programs_menu.link_5.link_url_5.url.href }}">{% inline_text field="our_programs_menu.link_5.link_text_5" value="{{ module.our_programs_menu.link_5.link_text_5 }}" %}</a></li>
					<li><a href="{{ module.our_programs_menu.link_6.link_url_6.url.href }}">{% inline_text field="our_programs_menu.link_6.link_text_6" value="{{ module.our_programs_menu.link_6.link_text_6 }}" %}</a></li>
					<li><a href="{{ module.our_programs_menu.link_7.link_url_7.url.href }}">{% inline_text field="our_programs_menu.link_7.link_text_7" value="{{ module.our_programs_menu.link_7.link_text_7 }}" %}</a></li>
					<li><a href="{{ module.our_programs_menu.link_8.link_url_8.url.href }}">{% inline_text field="our_programs_menu.link_8.link_text_8" value="{{ module.our_programs_menu.link_8.link_text_8 }}" %}</a></li>
					<li><a href="{{ module.our_programs_menu.link_9.link_url_9.url.href }}">{% inline_text field="our_programs_menu.link_9.link_text_9" value="{{ module.our_programs_menu.link_9.link_text_9 }}" %}</a></li>
				</ul>
			</div>
			<div class="col-md-2">
				{{ module.helpful_links_menu.title_helpful_links }}
				<ul>
					<li><a href="{{ module.helpful_links_menu.link_1.link_url_1.url.href }}">{% inline_text field="helpful_links_menu.link_1.link_text_1" value="{{ module.helpful_links_menu.link_1.link_text_1 }}" %}</a></li>
					<li><a href="{{ module.helpful_links_menu.link_2.link_url_2.url.href }}">{% inline_text field="helpful_links_menu.link_2.link_text_2" value="{{ module.helpful_links_menu.link_2.link_text_2 }}" %}</a></li>
					<li><a href="{{ module.helpful_links_menu.link_3.link_url_3.url.href }}">{% inline_text field="helpful_links_menu.link_3.link_text_3" value="{{ module.helpful_links_menu.link_3.link_text_3 }}" %}</a></li>
					<li><a href="{{ module.helpful_links_menu.link_4.link_url_4.url.href }}">{% inline_text field="helpful_links_menu.link_4.link_text_4" value="{{ module.helpful_links_menu.link_4.link_text_4 }}" %}</a></li>
					<li><a href="{{ module.helpful_links_menu.link_5.link_url_5.url.href }}">{% inline_text field="helpful_links_menu.link_5.link_text_5" value="{{ module.helpful_links_menu.link_5.link_text_5 }}" %}</a></li>
					<li><a href="{{ module.helpful_links_menu.link_6.link_url_6.url.href }}">{% inline_text field="helpful_links_menu.link_6.link_text_6" value="{{ module.helpful_links_menu.link_6.link_text_6 }}" %}</a></li>
				</ul>
			</div>
			<div class="col-md-2">
				{% inline_rich_text field="policies_menu.title_policies" value="{{ module.policies_menu.title_policies }}" %}
				<ul>
					<li><a href="{{ module.policies_menu.link_1.link_url_1.url.href }}">{% inline_text field="policies_menu.link_1.link_text_1" value="{{ module.policies_menu.link_1.link_text_1 }}" %}</a></li>
					<li><a href="{{ module.policies_menu.link_2.link_url_2.url.href }}">{% inline_text field="policies_menu.link_2.link_text_2" value="{{ module.policies_menu.link_2.link_text_2 }}" %}</a></li>
					<li><a href="{{ module.policies_menu.link_3.link_url_3.url.href }}">{% inline_text field="policies_menu.link_3.link_text_3" value="{{ module.policies_menu.link_3.link_text_3 }}" %}</a></li>
				</ul>
			</div>
			<div class="divider"></div>
		</div>
		
		<div class="row">
			<div class="col-md-9 footnote">
				{% inline_rich_text field="copyright" value="{{ module.copyright }}" %}
      </div>
			<div class="col-md-3 social-media-container">
        <ul>
					<li><a href="{{ module.social_media.fb_link.url.href }}" {% if module.social_media.fb_link.open_in_new_tab %}target="_blank"{% endif %}><i class="fab fa-facebook-square"></i></a></li>
					<li><a href="{{ module.social_media.instagram_link.url.href }}" {% if module.social_media.instagram_link.open_in_new_tab %}target="_blank"{% endif %}><i class="fab fa-instagram"></i></a></li>
					<li><a href="{{ module.social_media.youtube_link.url.href }}" {% if module.social_media.youtube_link.open_in_new_tab %}target="_blank"{% endif %}><i class="fab fa-youtube"></i></a></li>
					<li><a href="{{ module.social_media.linkedin_link.url.href }}" {% if module.social_media.linkedin_link.open_in_new_tab %}target="_blank"{% endif %}><i class="fab fa-linkedin-in"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>


<div class="cta-flyout">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h4>{{ module.cta_flyout.title_text }}</h4>
			</div>
			<div class="col-md-8">
				<ul class="cta-button">
					<li><a href="{{ module.cta_flyout.box_1.box_link_url.href }}" class="btn btn-outline-primary btn-black-outline">{{ module.cta_flyout.box_1.box_link_text }}</a></li>
					<li><a href="{{ module.cta_flyout.box_2.box_link_url.href }}" class="btn btn-outline-primary btn-black-outline">{{ module.cta_flyout.box_2.box_link_text }}</a></li>
					<li><a href="{{ module.cta_flyout.box_3.box_link_url.href }}" class="btn btn-primary btn-orange bold">{{ module.cta_flyout.box_3.box_link_text }}</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="ilscModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      <div class="modal-body">
      	
      </div>
      
    </div>
  </div>
</div>