{% set langChar = content.language.languageTag %}
{% set urlPath = request.path|urldecode %}
{% if langChar == module.language_code_to_use_alternate_logo %}
  {% set imgUrl = module.alternate_logo_svg_file %}
  {% set imgAlt = module.alternate_logo_alt %}
{% else %}
  {% if urlPath is string_containing module.keyword_to_use_alternate_logo %}
    {% set imgUrl = module.alternate_logo_svg_file %}
    {% set imgAlt = module.alternate_logo_alt %}
  {% else%}
    {% set imgUrl = module.logo_image.src %}
    {% set imgAlt = module.logo_image.alt %}
  {% endif %}
{% endif %}

<header class="top-nav fixed-top">
  <nav id="landing-nav-bar" class="navbar navbar-expand-lg navbar-light main-greystone">
    <div class="container">
      {% set href = module.logo_link.url.href %}
        {% if module.logo_link.url.type is equalto "EMAIL_ADDRESS" %}
          {% set href = "mailto:" + href %}
        {% endif %}
        {% set rel = [] %}
        {% if module.logo_link.no_follow %}
          {% do rel.append("nofollow") %}
        {% endif %}
        {% if module.logo_link.open_in_new_tab %}
          {% do rel.append("noopener") %}
        {% endif %}
        <a href="{{ href }}" class="navbar-brand"
          {% if module.logo_link.open_in_new_tab %}target="_blank"{% endif %}
          {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
          >
        {% if module.logo_image.src %}
          {% set sizeAttrs = 'width="{{ module.logo_image.width }}" height="{{ module.logo_image.height }}"' %}
          {% if module.logo_image.size_type == 'auto' %}
            {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
          {% elif module.logo_image.size_type == 'auto_custom_max' %}
            {% set sizeAttrs = 'width="{{ module.logo_image.max_width }}" height="{{ module.logo_image.max_height }}" style="max-width: 100%; height: auto;"' %}
          {% endif %}
           {% set loadingAttr = module.logo_image.loading != 'disabled' ? 'loading="{{ module.logo_image.loading }}"' : '' %}
          <img src="{{ imgUrl }}" alt="{{imgAlt }}" {{ loadingAttr }} {{ sizeAttrs }} class="main-logo">
        {% endif %}
       </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="nav-bar-items collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto menu-hide">

          <li class="nav-item dropdown active">
            {% if module.nav_titles.link_group_1.enable_disable_dropdown_menu_choice == "enable" %}
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% else %}
              <a class="nav-link" href="{{ module.nav_titles.link_group_1.top_tier_link.url.href }}">
            {% endif %}
              {{ module.nav_titles.link_group_1.nav_title }}
            </a>
            {% if module.nav_titles.link_group_1.enable_disable_dropdown_menu_choice == "enable" %}
              <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                <div class="navbar-menu-content center">
                  <div class="row">
                    <div class="col-md-12">
                      <ul>
                         {% for item in module.nav_titles.link_group_1.link_group %}
                          <li><a class="dropdown-item" href="{{ item.link_url.href }}">{{ item.link_text }}</a></li>
                         {% endfor %}                    
                      </ul>
                    </div>
                  </div>

                </div>
              </div>
            {% endif %}
          </li>
          <li class="nav-item dropdown">
            {% if module.nav_titles.link_group_2.enable_disable_dropdown_menu_choice == "enable" %}
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% else %}
              <a class="nav-link" href="{{ module.nav_titles.link_group_2.top_tier_link.url.href }}">
            {% endif %}
              {{ module.nav_titles.link_group_2.nav_title }}
            </a>
            {% if module.nav_titles.link_group_2.enable_disable_dropdown_menu_choice == "enable" %}
              <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                <div class="navbar-menu-content center">
                  <div class="row">
                    <div class="col-md-12">
                      <ul>
                         {% for item in module.nav_titles.link_group_2.link_group %}
                          <li><a class="dropdown-item" href="{{ item.link_url.href }}">{{ item.link_text }}</a></li>
                         {% endfor %}                    
                      </ul>
                    </div>
                  </div>

                </div>
              </div>
            {% endif %}
          </li>
            
          
            <li class="nav-item">
              <a class="nav-link" href="{{ module.login_menu.e_brochure_link.url_link_text }}" id="navbarDropdown6" target="_blank">
                {% inline_text field="login_menu.e_brochure_link.link_text" value="{{ module.login_menu.e_brochure_link.link_text }}" %}
              </a>
          </li>
              
              
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% inline_text field="login_menu.nav_login_text" value="{{ module.login_menu.nav_login_text }}" %}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
              <div class="navbar-menu-content container login-content">
                <div class="row">
                  <div class="col-md-6">
                    {% inline_rich_text field="login_menu.partners_login_menu.title_partners_login" value="{{ module.login_menu.partners_login_menu.title_partners_login }}" %}
                    <p>{{ module.login_menu.partners_login_menu.text_1 }}</p>
                    <a href="{{ module.login_menu.partners_login_menu.button_partners_login.partners_login_url.url.href }}" {% if module.login_menu.partners_login_menu.button_partners_login.partners_login_url.open_in_new_tab %}target="_blank"{% endif %} class="btn btn-outline-primary btn-black-outline">{{ module.login_menu.partners_login_menu.button_partners_login.button_text_partners_login }}</a>
                    <p>{{ module.login_menu.partners_login_menu.text_2 }}</p>
                    <a href="{{ module.login_menu.partners_login_menu.button_partners_create_account.partners_login_url.url.href }}" {% if module.login_menu.partners_login_menu.button_partners_create_account.partners_login_url.open_in_new_tab %}target="_blank"{% endif %} class="btn btn-primary btn-blue">{{ module.login_menu.partners_login_menu.button_partners_create_account.button_text_partners_login }}</a>
                    <div class="vertical-divider"></div>
                  </div>
                  <div class="col-md-6 student-login">
                    {% inline_rich_text field="login_menu.student_login_menu.title_student_login" value="{{ module.login_menu.student_login_menu.title_student_login }}" %}
                    <p>{{ module.login_menu.student_login_menu.text_1 }}</p>
                    {% for item in module.login_menu.student_login_menu.button_student_login %}
                      {% set href = item.student_login_url.url.href %}
                      <a href="{{ href }}" {% if item.student_login_url.open_in_new_tab %}target="_blank"{% endif %} class="btn btn-primary btn-blue">{% inline_text field="button_text_student_login" value="{{ item.button_text_student_login }}" %}</a>
                    {% endfor %}
                  </div>
                  
                </div>
              </div>
            </div>
          </li>
          
          <li class="nav-item dropdown language-selector">

            <a class="nav-link dropdown-toggle language-link" href="#" id="navbarDropdown5" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              EN
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
              <div class="navbar-menu-content container">
                <div class="row">
                  <div class="col-md-12">
                    {% inline_rich_text field="title_language" value="{{ module.title_language }}" %}
                    <ul>
                     
                      <li class="lng-en"><a class="dropdown-item" href="/{{ content.translated_content['en'].slug  }}">English</a></li>
                      <li class="lng-fr"><a class="dropdown-item" href="/{{ content.translated_content['fr'].slug  }}">French</a></li>
                      <li class="lng-es"><a class="dropdown-item" href="/{{ content.translated_content['es'].slug  }}">Spanish</a></li>
                      <li class="lng-pt-br"><a class="dropdown-item" href="/{{ content.translated_content['pt-br'].slug  }}">Portuguese</a></li>
                      <li class="lng-ja"><a class="dropdown-item" href="/{{ content.translated_content['ja'].slug }}">Japanese</a></li>
                      <li class="lng-ko"><a class="dropdown-item" href="/{{ content.translated_content['ko'].slug }}">Korean</a></li>
                      <li class="lng-zh-tw"><a class="dropdown-item" href="/{{ content.translated_content['zh-tw'].slug }}">Chinese</a></li>
                      <li class="lng-tr"><a class="dropdown-item" href="/{{ content.translated_content['tr'].slug }}">Turkish</a></li>
                      <li class="lng-vi"><a class="dropdown-item" href="/{{ content.translated_content['vi'].slug }}">Vietnamese</a></li>
                      <li class="lng-th"><a class="dropdown-item" href="/{{ content.translated_content['th'].slug }}">Thai</a></li>
                      <li class="lng-ar"><a class="dropdown-item" href="/{{ content.translated_content['ar'].slug }}">Arabic</a></li>
                      <li class="lng-it"><a class="dropdown-item" href="/{{ content.translated_content['it'].slug }}">Italian</a></li>
                      
                    </ul>
                  </div>
                </div>

              </div>
            </div>

          </li>


          <li class="nav-item dropdown search">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-search"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
              <div class="navbar-menu-content container search-content">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-container">
                      {% inline_rich_text field="search_menu.title_search" value="{{ module.search_menu.title_search }}" %}
                      <form action="{% if content.language.languageTag != "en" %}/{{content.language.languageTag}}{% endif %}/greystone-college/search-results" id="form1">
                          <input type="hidden" name="type" value="SITE_PAGE">
                          <input type="hidden" name="type" value="BLOG_POST">
                          <input type="hidden" name="type" value="LISTING_PAGE">
                          <input type="hidden" name="type" value="LANDING_PAGE">
                          <input type="hidden" name="pathPrefix" value="{% if content.language.languageTag != "en" %}/{{content.language.languageTag}}{% endif %}/greystone-college">
                          {% if content.language.languageTag != "en" %}
                              <input type="hidden" name="language" value="{{content.language.languageTag}}">
                            {% else %}
                              <input type="hidden" name="language" value="en">
                          {% endif %}
                        <div class="form-group">
                          <input class="form-control form-control-lg notranslate" type="text" placeholder="{{ module.search_menu.text_search_placeholder }}" id="term" name="term">
                          <div class="input-group-append btn-search">
                            <button type="submit" class="btn btn-primary btn-clear"><i class="fas fa-times"></i></button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </nav>
</header>

