.section-review-widget iframe#review-widget{
  width:100% !important;
  max-width:100% !important;
  overflow:hidden !important;
}

.section-review-widget.padding-top-extra{
  padding-top:100px;
}
.section-review-widget.padding-bottom-extra{
  padding-bottom:100px;
}
.section-review-widget.padding-extra{
  padding:100px 0;
}