.language-selector a.language-link{
  text-transform:uppercase;
}
header.simple-cta-header.top-nav .navbar .navbar-nav{
  align-items:center;
  justify-content: space-evenly;
}
header.top-nav .navbar .dropdown.language-selector .dropdown-menu ul li a{
  padding-left: 1.5rem;
}
header.simple-cta-header.top-nav .navbar .collapse.show .navbar-nav a.simple-text{
  color:#ff8b35
}
header.simple-cta-header.top-nav .navbar .collapse.show ul.navbar-nav{
  flex-direction: column-reverse;
}
header.simple-cta-header.top-nav .navbar .collapse.show .navbar-nav li.nav-item{
  margin-bottom:20px;
}
header.simple-cta-header.top-nav .navbar .navbar-nav a.simple-text{
  font-size:20px;
  text-decoration:none;
  color:#FFF;
}
header.simple-cta-header.top-nav.sticky .navbar .navbar-nav a.simple-text{
  color:#ff8b35
}