<section class="section section-box-overlap bg-white-canvas" id="content">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h2>{{ module.title }}</h2>
			</div>
			<div class="col-md-6">
				<div class="hero-video-container btn-video-container">
					<div><i class="far fa-play-circle"></i></div><div><a href="#ilscModal" data-toggle="modal" class="video-btn" src="{{ module.video_link_url.href }}">{{ module.video_text }}</a></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="box-slide">
					
					 <div>
					 	<div class="box-container" onclick="location.href='{{ module.box_1.page_link_url.href }}';">
					 	<div class="title-container">
						{% inline_rich_text field="title" value="{{ module.box_1.box_title }}" %}
				 		</div>
				 		{% if module.box_1.image_field.src %}
              <img src="{{ module.box_1.image_field.src }}" alt="{{ module.box_1.image_field.alt }}">
            {% endif %}
					 	<div class="short-description-container">
					 			<div class="short-description">			 			
						 			{% inline_rich_text field="short_description" value="{{ module.box_1.short_description }}" %}
					 			</div>
							 	
					 		</div>	
					 	</div>
					 </div> 
					 <div>
					 	<div class="box-container" onclick="location.href='{{ module.box_2.page_link_url.href }}';">
					 		<div class="title-container">
							{% inline_rich_text field="box_2.title" value="{{ module.box_2.box_title}}" %}
					 		</div>
					 		{% if module.box_2.image_field.src %}
                <img src="{{ module.box_2.image_field.src }}" alt="{{ module.box_2.image_field.alt }}">
              {% endif %}
					 		<div class="short-description-container">
					 			<div class="short-description">			 			
						 			{% inline_rich_text field="box_2.short_description" value="{{ module.box_2.short_description }}" %}
					 			</div>
							 	
					 		</div>
					 	</div>
					 </div> 
					 <div>
					 	<div class="box-container" onclick="location.href='{{ module.box_3.page_link_url.href }}';">
						 	<div class="title-container">
							 {% inline_rich_text field="box_3.title" value="{{ module.box_3.box_title }}" %}
					 		</div>
					 		{% if module.box_3.image_field.src %}
                <img src="{{ module.box_3.image_field.src }}" alt="{{ module.box_3.image_field.alt }}">
              {% endif %}
					 		<div class="short-description-container">	
					 			<div class="short-description">			 			
					      	{% inline_rich_text field="box_3.short_description" value="{{ module.box_3.short_description }}" %}
					 			</div>
					 		</div>
					 	</div>
					 </div>
					 <div>
					 	<div class="box-container" onclick="location.href='{{ module.box_4.page_link_url.href }}';">
						 	<div class="title-container">
							 	{% inline_rich_text field="box_4.title" value="{{ module.box_4.box_title }}" %}
					 		</div>
					 		{% if module.box_4.image_field.src %}
                <img src="{{ module.box_4.image_field.src }}" alt="{{ module.box_4.image_field.alt }}">
              {% endif %}
					 		<div class="short-description-container">
					 			<div class="short-description">			 			
						 			{% inline_rich_text field="box_4.short_description" value="{{ module.box_4.short_description }}" %}
					 			</div>
							 	
					 		</div>
					 	</div>
					 </div>
					 <div>
					 	<div class="box-container" onclick="location.href='{{ module.box_5.page_link_url.href }}';">
						 	<div class="title-container">
							 {% inline_rich_text field="box_5.title" value="{{ module.box_5.box_title }}" %}
					 		</div>
					 		{% if module.box_5.image_field.src %}
                <img src="{{ module.box_5.image_field.src }}" alt="{{ module.box_5.image_field.alt }}">
              {% endif %}
					 		<div class="short-description-container">
					 			<div class="short-description">			 			
						 		  {% inline_rich_text field="box_5.short_description" value="{{ module.box_5.short_description }}" %}
					 			</div>
							 	
					 		</div>
					 	</div>
					 </div>
					 <div>
					 	<div class="box-container" onclick="location.href='{{ module.box_6.page_link_url.href }}';">
						 	<div class="title-container">
							 	{% inline_rich_text field="box_6.title" value="{{ module.box_6.box_title }}" %}
					 		</div>
					 		{% if module.box_6.image_field.src %}
                <img src="{{ module.box_6.image_field.src }}" alt="{{ module.box_6.image_field.alt }}">
              {% endif %}
					 		<div class="short-description-container">
					 			<div class="short-description">			 			
						 			{% inline_rich_text field="box_6.short_description" value="{{ module.box_6.short_description }}" %}
					 			</div>
							 	
					 		</div>
					 	</div>
					 </div> 
				</div>
			</div>
		</div>
	</div>
</section>

