<section class="tab-navigation-landing section bg-white-canvas" id="content">

	<div class="divider"></div>
	<div class="container">
    <nav id="carousel-nav-container" class="navbar navbar-expand-lg navbar-light">
			<a class="navbar-brand" href="#">{{ module.mobile_tab_text }}</a>
			<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav-Menu" aria-controls="navbarNav-Menu" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
				<div class="navbar-collapse collapse" id="navbarNav-Menu" style="">
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pills-1-tab" data-toggle="pill" href="#pills-1" role="tab" aria-controls="pills-1" aria-selected="true">{% inline_text field="tabs.tab_1.title" value="{{ module.tabs.tab_1.title }}" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-2-tab" data-toggle="pill" href="#pills-2" role="tab" aria-controls="pills-2" aria-selected="false">{% inline_text field="tabs.tab_2.title" value="{{ module.tabs.tab_2.title }}" %}</a>
            </li>
            {% if module.enable_tab_button_boolean %}
              <li class="nav-item center">
                {% set href = module.btn_field_group.btn_link.url.href %}
                  {% if module.btn_field_group.btn_link.url.type is equalto "EMAIL_ADDRESS" %}
                    {% set href = "mailto:" + href %}
                  {% endif %}
                  <a href="{{ href|escape_url }}" class="btn btn-orange btn-primary tab-button"
                    {% if module.btn_field_group.btn_link.open_in_new_tab %}target="_blank"{% endif %}
                    {% if module.btn_field_group.btn_link.rel %}rel="{{ module.btn_field_group.btn_link.rel|escape_attr }}"{% endif %}
                    >
                    {{ module.btn_field_group.btn_text }}
                  </a>
            </li>
            {% endif %}
          </ul>
      </div>
    </nav>
		<div class="tab-content" id="pills-tabContent">
		  <div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-1-tab">
		  	<div class="content-container">
				
					<div class="row">
						<div class="col-md-6">
							{% inline_rich_text field="tabs.tab_1.text_content" value="{{ module.tabs.tab_1.text_content }}" %}
              {% if module.tabs.tab_1.hide_show_cta == "show" %}
                <div class="btn-video-container">
                  <div><i class="{{ module.tabs.tab_1.cta_font_awesome_icon }}"></i></div><div><a href="#ilscModal" data-toggle="modal" class="video-btn" src="{{ module.tabs.tab_1.cta_url.href }}">{{ module.tabs.tab_1.cta_text }}</a></div>
                </div>
              {% endif %}
						</div>
						<div class="col-md-6">
							{% if module.tabs.tab_1.image_field.src %}
                <img src="{{ module.tabs.tab_1.image_field.src }}" alt="{{ module.tabs.tab_1.image_field.alt }}" loading="lazy">
              {% endif %}
						</div>
					
					</div>
			</div>
		  </div>
        <div class="tab-pane fade" id="pills-2" role="tabpanel" aria-labelledby="pills-2-tab">
          <div class="content-container">

              <div class="row">
                <div class="col-md-6 school-details">
                  {% inline_rich_text field="tabs.tab_2.text_content" value="{{ module.tabs.tab_2.text_content }}" %}
                </div>
                <div class="col-md-6">
                  {% if module.tabs.tab_2.image_field.src %}
                    <img src="{{ module.tabs.tab_2.image_field.src }}" alt="{{ module.tabs.tab_2.image_field.alt }}" loading="lazy">
                  {% endif %}
                </div>		
              </div>
          </div>
      </div>
		</div>
	</div>
</section>
