.body-container-wrapper{
  overflow:hidden;
}

.section.bg-blob-image{
  position:relative;
}

.section.bg-blob-image a.btn{
  width:350px;
}
.section.bg-blob-image .mix .box-container{
  background-color:#FFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  padding:20px;
  position:relative;
  margin-bottom:30px;
  overflow:hidden;
  min-height:340px;
}
.section.bg-blob-image .mix  .box-container:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}


.section.bg-blob-image .mix  .box-container:hover .short-description-container {
  opacity: 1;
}

.section.bg-blob-image .mix  .box-container:hover .short-description-container .short-description {
  height: 100%;
  top: 100%;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

.section.bg-blob-image .mix  .box-container img {
  webkit-transition: transform .4s;
  -moz-transition: transform .4s;
  -o-transition: transform .4s;
  -ms-transition: transform .4s;
  transition: transform .4s;
  width:100%;
  vertical-align:middle;
  line-height:1;
}
.section.bg-blob-image .mix  .box-container.hover-orange .short-description-container{
  color:#FFF;
  background: #FF9933;
}
.section.bg-blob-image .mix  .box-container.hover-orange .short-description-container a{
 color:#FFF;
}

.section.bg-blob-image .mix  .box-container.hover-white .short-description-container{
  background: #FFF;
}

.section.bg-blob-image .mix  .box-container .short-description-container {
  opacity: 0;
  transition: opacity .2s;
  width: 100%;
  position: absolute;
  z-index: 2;
  height: 100%;
  top: 0;
  left:0;
  overflow:hidden;
}

.section.bg-blob-image .mix  .box-container .short-description-container .short-description {
  position: absolute;
  left: 0;
  right: 0;
  top: 70%;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
  opacity: .9;
  padding: 20px;
}
.section.bg-blob-image .mix  .box-container .short-description-container .short-description a{
  bottom:0;
}
.section.bg-blob-image .mix  .box-container .short-description-container .short-description p{
  font-size: 1rem !important;
  margin-top:10px;
}
.section.bg-blob-image .mix  .box-container .short-description-container .short-description {
    position: absolute;
    left: 10px;
    padding: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
}
.section.bg-blob-image .mix  .box-container .a-link-small{
  padding:0 15px;
}

.bg-blob-image .blob {
    position: absolute;
    z-index: -1;
    width:38%;
}
@media only screen and (max-width: 767px) {
  .bg-blob-image .blob {
     display:none;
  }
}
.bg-blob-image .blob.blob-1 {
    right: -200px;
    top: -250px;
}

.bg-blob-image .blob.blob-2 {
    left: -100px;
    bottom: -140px;
}