<section class="section bg-white-canvas">
  
  <div class="container">		
          <div class="row">
					
            <div class="col-md-12">
              {% inline_rich_text field="title" value="{{ module.title }}" %}
            </div>
          </div>
					<div class="row">
						<div class="col-md-12 gallery-slide-multi">
							<div class="gallery-slide {{ module.choice_field }}">
                {% for item in module.image_field_group %}
                  {% set href = item.link_field.url.href %}
                  {% if item.image.src %}
                    <div>
                      <div>
                        <img src="{{ item.image.src }}" alt="{{ item.image.alt }}" loading="lazy" {% if item.add_link_choice == 'yes'%}{% if item.link_field.open_in_new_tab %}onClick="window.open('{{ href }}','_blank');"{% else %}onClick="location.href='{{ href }}';"{% endif %} style="cursor:pointer;"{% endif %}>
                        <h5>{{ item.image.alt }}</h5>
                      </div>
                    </div>
                  {% endif %}
								{% endfor %}
							</div>
						</div>
					
					</div>
			</div>
</section>
<script>
  $(document).ready(function(){
	 
	  $('.gallery-slide-multi .gallery-slide').slick({
        dots: false,
        slidesToScroll: 1,
        slidesToShow: {{ module.show_number_of_slides }},
        lazyLoad: 'ondemand',
        speed : 600,
        ease : 'Pow4.easeIn',
      responsive: [
        {
          breakpoint: 992,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
		  
	  });
	});
</script>

