<section class="section-destination-nav section section-destination-country bg-white-canvas">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				{% inline_rich_text field="title" value="{{ module.title }}" %}
			</div>
		</div>
		<div class="row row-1 div-target">      
      
		{% if module.canada.bg_image.src %}
        <div class="col-md-3" onclick="location.href='{{ module.canada.url_field.href }}';">
          <div class="pic">
            <img class="lazy" data-src="{{ module.canada.bg_image.src }}" alt="{{ module.canada.bg_image.alt }}">
           
          </div>
          <div class="link-container">
            <div><span>{{ module.canada.title }}</span><img class="lazy" data-src="{{ module.canada.icon.src }}" alt="{{ module.canada.icon.alt }}" loading="lazy"></div>
          </div>
        </div>
      {% endif %}
      {% if module.australia.bg_image.src %}
        <div class="col-md-3" onclick="location.href='{{ module.australia.url_field.href }}';">
          <div class="pic">
            <img class="lazy" data-src="{{ module.australia.bg_image.src }}" alt="{{ module.australia.bg_image.alt }}" loading="lazy">
            
          </div>
            <div class="link-container">
            <div><span>{{ module.australia.title }}</span><img class="lazy" data-src="{{ module.australia.icon.src }}" alt="{{ module.australia.icon.alt }}" loading="lazy"></div>
          </div>
        </div>
      {% endif %}
      {% if module.india.bg_image.src %}
        <div class="col-md-3" onclick="location.href='{{ module.india.url_field.href }}';">
           <div class="pic">
            <img class="lazy" data-src="{{ module.india.bg_image.src }}" alt="{{ module.india.bg_image.alt }}" loading="lazy">
             
          </div>
          <div class="link-container">
            <div><span>{{ module.india.title }}</span><img class="lazy" data-src="{{ module.india.icon.src }}" alt="{{ module.india.icon.alt }}" loading="lazy"></div>
          </div>
        </div>
      {% endif %}
      {% if module.usa.bg_image.src %}
        <div class="col-md-3" onclick="location.href='{{ module.usa.url_field.href }}';">
           <div class="pic">
            <img class="lazy" data-src="{{ module.usa.bg_image.src }}" alt="{{ module.usa.bg_image.alt }}" loading="lazy">
             
          </div>
          <div class="link-container">
            <div><span>{{ module.usa.title }}</span><img class="lazy" data-src="{{ module.usa.icon.src }}" alt="{{ module.usa.icon.alt }}" loading="lazy"></div>
          </div>
        </div>
      {% endif %}
		</div>
		
	</div>
</section>