.section{
  position:relative;
  overflow:hidden;
}

.section.webinar-info .feature-container >div, .section.webinar-info .upcoming-container >div{
  padding:0;
}

.section.webinar-info .content-container h5{
  margin-bottom:0;
}
.section.webinar-info.webinar-past .info-container .content-container .description-container{
  padding:0 15px 20px;
}
.section.webinar-info.webinar-past .info-container .content-container .btn-container a.btn{
  float:right;
}
.section.webinar-info.webinar-past .info-container .content-container{
  box-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
  overflow: hidden;
  padding: 0px 50px 20px;
}
.section.webinar-info.webinar-past .past-container{
  margin-top:30px;
}
.section.webinar-info.webinar-past .center.btn-container a.btn{
  font-weight:700;
}
.section.webinar-info.webinar-past .btn-container a.btn{
  font-weight:700;
  margin-top:50px;
}
.section.webinar-info.webinar-past .training-container{
  box-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
  margin: 100px 10px;
  border-radius: 10px;
  overflow: hidden;
}
.section.webinar-info.webinar-past .training-container .content-container{
  padding:60px;
}