<section class="section {% if module.disable_enable_bg_color_choice == 'disable' %} bg-white-canvas {% endif %} section-6-6" id="content" {% if module.disable_enable_bg_color_choice == 'enable' %} style="background-color:rgba({{module.bg_color.color|convert_rgb }}, {{module.bg_color.opacity/100 }})
" {% endif %}>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% inline_rich_text field="small_title_text" value="{{ module.title_text }}" %}
      </div>
    </div>
		<div class="row">
      <div class="col-md-5 school-details">
				{% inline_rich_text field="main_text" value="{{ module.main_text }}" %}
        {% if module.cta_group.hide_show_cta == "show"%}
          <div class="btn-video-container">
            <div><i class="far fa-play-circle"></i></div><div><a href="#ilscModal" data-toggle="modal" class="video-btn" src="{{ module.cta_group.link_url.url.href }}">{{ module.cta_group.link_url_text }}</a></div>
          </div>
        {% endif %}
			</div>
      <div class="col-md-7">
				{% if module.image_field.src %}
          <img class="lazy-ph" data-src="{{ module.image_field.src }}" alt="{{ module.image_field.alt }}" loading="lazy">
        {% endif %}
			</div>
		</div>
	</div>
</section>