<header class="top-nav fixed-top">
  <nav id="landing-nav-bar" class="navbar navbar-expand-lg navbar-light">
    <div class="container">

      <a class="navbar-brand" href="{{ module.home_link.url.href }}"><img src="{{ module.logo_svg_file }}" alt="{{ module.logo_alt }}" /></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      

      <div class="nav-bar-items collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto menu-hide">

          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% inline_text field="nav_titles.nav_title_destinations" value="{{ module.nav_titles.nav_title_destinations }}" %}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
              <div class="navbar-menu-content study-content container">
                <div class="row">
                  <div class="link-container col-md-3">
                    <div class="link-image">
                      <img src="{{ module.study_in_australia_menu.icon_australia.src }}" alt="{{ module.study_in_australia_menu.icon_australia.alt }}" >
                    </div>
                    <div>
                      {% inline_rich_text field="study_in_australia_menu.title_study_australia" value="{{ module.study_in_australia_menu.title_study_australia }}" %}
                      <ul>
           
                         {% for item in module.study_in_australia_menu.links %}
                            <li>
                              {% set href = item.link_page.url.href %}
                              <a href="{{ href }}" {% if item.link_url.open_in_new_tab %}target="_blank"{% endif %} class="dropdown-item">
                                {% inline_text field="item.link_title" value="{{ item.link_title }}" %}
                              </a>
                            </li>
                        {% endfor %} 
                        
                      </ul>
                      <div class="vertical-divider"></div>
                    </div>
                  </div>
                  <div class="link-container col-md-3">
                    <div class="link-image">
                      <img src="{{ module.study_in_canada_menu.icon_canda_leaf.src }}" alt="{{ module.study_in_canada_menu.icon_canda_leaf.alt }}" >
                    </div>
                    <div>
                      {% inline_rich_text field="study_in_canada_menu.title_study_canada" value="{{ module.study_in_canada_menu.title_study_canada }}" %}
                      <ul>

                           {% for item in module.study_in_canada_menu.links %}
                              <li>
                                {% set href = item.link_page.url.href %}

                                <a href="{{ href }}" {% if item.link_url.open_in_new_tab %}target="_blank"{% endif %} class="dropdown-item">
                                  {% inline_text field="item.link_title" value="{{ item.link_title }}" %}
                                </a>
                              </li>
                          {% endfor %}

                      </ul>
                      <div class="vertical-divider"></div>
                    </div>
                  </div>
                                  
                  <div class="link-container col-md-3">
                    <div class="link-image">     
                      <img src="{{ module.study_india_menu.icon_india.src }}" alt="{{ module.study_india_menu.icon_india.alt }}" >
                    </div>
                    <div>
                      {% inline_rich_text field="study_india_menu.title_study_india" value="{{ module.study_india_menu.title_study_india }}" %}
                      <ul>
                        {% for item in module.study_india_menu.links %}
                          <li>
                            {% set href = item.link_page.url.href %}
                            <a href="{{ href }}" {% if item.link_url.open_in_new_tab %}target="_blank"{% endif %} class="dropdown-item">
                              {% inline_text field="item.link_title" value="{{ item.link_title }}" %}
                            </a>
                          </li>
                        {% endfor %} 
                      </ul>
                      <div class="vertical-divider"></div>
                    </div>
                  </div>
                  
                  <div class="link-container col-md-3">
                    <div class="link-image">     
                      <img src="{{ module.study_usa_menu.icon_usa.src }}" alt="{{ module.study_usa_menu.icon_usa.alt }}" >
                    </div>
                    <div>
                      {% inline_rich_text field="study_usa_menu.title_study_usa" value="{{ module.study_usa_menu.title_study_usa }}" %}
                      <ul>
                        {% for item in module.study_usa_menu.links %}
                          <li>
                            {% set href = item.link_page.url.href %}
                            <a href="{{ href }}" {% if item.link_url.open_in_new_tab %}target="_blank"{% endif %} class="dropdown-item" {% if item.highlight_text_choice == 'enable' %} style="color:#f96a00;" {% endif %}>
                              {% inline_text field="item.link_title" value="{{ item.link_title }}" %}
                            </a>
                            
                            
                              <p>
                                {{ item.description_text }}
                              </p>
                           
                          </li>
                        {% endfor %} 
                      </ul>

                    </div>
                  </div>
                  
                </div>

              </div>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             {% inline_text field="nav_titles.nav_title_language_programs" value="{{ module.nav_titles.nav_title_language_programs }}" %}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
              <div class="navbar-menu-content container">
                <div class="row">
                  <div class="link-container col">
                    
                    <div>
                      {% inline_rich_text field="language_programs_menu.title_column_1" value="{{ module.language_programs_menu.title_column_1 }}" %}
                      <ul>
                        {% for item in module.language_programs_menu.links %}
                          <li>
                            {% set href = item.link_url.url.href %}
                            <a href="{{ href }}" {% if item.link_url.open_in_new_tab %}target="_blank"{% endif %} class="dropdown-item">
                              {% inline_text field="item.link_title" value="{{ item.link_title }}" %}
                            </a>
                          </li>
                        {% endfor %} 
                      </ul>
                    </div>
                    <div class="vertical-divider"></div>
                  </div>
                  <div class="link-container col">
                    
                    <div>
                      {% inline_rich_text field="academic_test_preparation_menu.title_column_1" value="{{ module.academic_test_preparation_menu.title_column_1 }}" %}
                      <ul>
                        {% for item in module.academic_test_preparation_menu.links %}
                          <li>
                            {% set href = item.link_url.url.href %}
                            <a href="{{ href }}" {% if item.link_url.open_in_new_tab %}target="_blank"{% endif %} class="dropdown-item">
                              {% inline_text field="item.link_title" value="{{ item.link_title }}" %}
                            </a>
                          </li>                   
                        {% endfor %}
                         
                      </ul>
                    </div>
                    <div class="vertical-divider"></div>
                  </div>
                  <div class="link-container col">                              
                    <div>
                      {% inline_rich_text field="greystone_college_and_university_pathway_menu.title_column_1" value="{{ module.greystone_college_and_university_pathway_menu.title_column_1 }}" %}
                      <ul>
                        {% for item in module.greystone_college_and_university_pathway_menu.links %}
                          <li>
                            {% set href = item.link_url.url.href %}
                            <a href="{{ href }}" {% if item.link_url.open_in_new_tab %}target="_blank"{% endif %} class="dropdown-item">
                              {% inline_text field="item.link_title" value="{{ item.link_title }}" %}
                            </a>
                          </li>
                        {% endfor %}              
                      </ul>
                    </div>
                    <div class="vertical-divider"></div>
                  </div>
                  <div class="link-container col">
                    
                    <div>
                      {% inline_rich_text field="adult_and_junior_programs_menu.title_column_1" value="{{ module.adult_and_junior_programs_menu.title_column_1 }}" %}
                      <ul>
                        {% for item in module.adult_and_junior_programs_menu.links %}
                          <li>
                            {% set href = item.link_url.url.href %}
                            <a href="{{ href }}" {% if item.link_url.open_in_new_tab %}target="_blank"{% endif %} class="dropdown-item">
                              {% inline_text field="item.link_title" value="{{ item.link_title }}" %}
                            </a>
                          </li>
                        {% endfor %}                 
                      </ul>
                    </div>
                    <div class="vertical-divider"></div>
                  </div>
                  <div class="link-container col">
                    
                    <div>
                      {% inline_rich_text field="services_menu.title_column_1" value="{{ module.services_menu.title_column_1 }}" %}
                      <ul>
                        {% for item in module.services_menu.links %}
                          <li>
                            {% set href = item.link_url.url.href %}
                            <a href="{{ href }}" {% if item.link_url.open_in_new_tab %}target="_blank"{% endif %} class="dropdown-item">
                              {% inline_text field="item.link_title" value="{{ item.link_title }}" %}
                            </a>
                          </li>
                        {% endfor %}                         
                      </ul>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% inline_text field="nav_titles.nav_title_accommadations" value="{{ module.nav_titles.nav_title_accommadations }}" %}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
              <div class="navbar-menu-content container accom-content">
                <div class="row">
                  <div class="col-md-6">
                    <div class="row">
                      <div class="link-image link-image-lg col-sm-7">                             						
                        <img src="{{ module.homestay_menu.image_homestay.src }}" alt="{{ module.homestay_menu.image_homestay.alt }}" >                           
                      </div>
                      <div class="col-sm-5">
                        {% inline_rich_text field="homestay_menu.title_homestay" value="{{ module.homestay_menu.title_homestay }}" %}
                        <ul>                         
                          {% for item in module.homestay_menu.homestay_links %}
                            <li>
                              {% set href = item.link_page.url.href %}

                              <a href="{{ href }}" {% if item.link_url.open_in_new_tab %}target="_blank"{% endif %} class="dropdown-item">
                                {% inline_text field="item.link_title" value="{{ item.link_title }}" %}
                              </a>
                            </li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                    <div class="button-row row">
                      <div class="col">
                        {% inline_rich_text field="homestay_menu.message_homestay" value="{{ module.homestay_menu.message_homestay }}" %}
                      </div>
                      <div class="col">
                        <a href="{{ module.homestay_menu.button_homestay.button_url.href }}" {% if module.homestay_menu.button_homestay.button_url.open_in_new_tab %}target="_blank"{% endif %} class="btn btn-primary btn-orange" >{% inline_text field="homestay_menu.button_homestay.button_text_homestay" value="{{ module.homestay_menu.button_homestay.button_text_homestay }}" %}</a>
                      </div>
                    </div>
                    <div class="vertical-divider"></div>
                  </div>
                  <div class="col-md-6">
                    <div class="row">
                      <div class="link-image link-image-lg col-sm-7">
                        <img src="{{ module.residences_menu.image_residence.src }}" alt="{{ module.residences_menu.image_residence.alt }}" >
                      </div>
                      <div class="col-sm-5">
                        {% inline_rich_text field="residences_menu.title_residences" value="{{ module.residences_menu.title_residences }}" %}
                        <ul>                          
                          {% for item in module.residences_menu.residences_links %}
                            <li>
                              {% set href = item.link_page.url.href %}                             
                              <a href="{{ href }}" {% if item.link_url.open_in_new_tab %}target="_blank"{% endif %} class="dropdown-item">
                                {% inline_text field="item.link_title" value="{{ item.link_title }}" %}
                              </a>
                            </li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>


                  </div>

                </div>
              </div>
            </div>
          </li>
          <li id="apply-menu-drop" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownApply" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% inline_text field="nav_titles.nav_title_how_to_apply" value="{{ module.nav_titles.nav_title_how_to_apply }}" %}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownApply">
              <div class="navbar-menu-content container accom-content">
                <div class="row">
                  <div class="col-md-6">
                    <div class="row">
                      <div class="link-image link-image-lg col-sm-7">                             						
                        <img src="{{ module.apply_menu.image.src }}" alt="{{ module.apply_menu.image.alt }}" >                           
                      </div>
                      <div class="col-sm-5">
                        {% inline_rich_text field="apply_menu.title" value="{{ module.apply_menu.title }}" %}
                        <ul>                         
                          {% for item in module.apply_menu.links %}
                            <li>
                              {% set href = item.link_page.url.href %}

                              <a href="{% if item.is_modal_boolean %}#{% else %}{{ href }}{% endif %}" {% if item.is_modal_boolean %}data-toggle="modal" data-target="{{ href }}"{% endif %} {% if item.link_url.open_in_new_tab %}target="_blank"{% endif %} class="{% if item.btn_color_choice == 'orange' %}btn btn-primary btn-orange{% elif item.btn_color_choice == 'outline' %}btn btn-outline-primary btn-black-outline{% else %}dropdown-item{% endif %}">
                                {% inline_text field="item.link_title" value="{{ item.link_title }}" %}
                              </a>
                            </li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                    
                    <div class="vertical-divider"></div>
                  </div>
                  <div class="col-md-6">
                    <div class="row">
                      <div class="link-image link-image-lg col-sm-7">
                        <img src="{{ module.admissions_menu.image.src }}" alt="{{ module.admissions_menu.image.alt }}" >
                      </div>
                      <div class="col-sm-5">
                        {% inline_rich_text field="admissions_menu.title" value="{{ module.admissions_menu.title }}" %}
                        <ul>                          
                          {% for item in module.admissions_menu.links %}
                            <li>
                              {% set href = item.link_page.url.href %}                             
                              <a href="{{ href }}" {% if item.link_url.open_in_new_tab %}target="_blank"{% endif %} class="dropdown-item">
                                {% inline_text field="item.link_title" value="{{ item.link_title }}" %}
                              </a>
                            </li>
                          {% endfor %}
                        </ul>
                        
                      </div>
                    </div>
                    

                  </div>

                </div>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% inline_text field="nav_titles.nav_title_login" value="{{ module.nav_titles.nav_title_login }}" %}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
              <div class="navbar-menu-content container login-content">
                <div class="row">
                  <div class="col-md-6">
                    {% inline_rich_text field="partners_login_menu.title_partners_login" value="{{ module.partners_login_menu.title_partners_login }}" %}
                    <p>{{ module.partners_login_menu.text_1 }}</p>
                    <a href="{{ module.partners_login_menu.button_partners_create_account.partners_login_url.href }}" {% if module.partners_login_menu.button_partners_create_account.partners_login_url.open_in_new_tab %}target="_blank"{% endif %} class="btn btn-outline-primary btn-black-outline">{% inline_text field="partners_login_menu.button_partners_create_account.button_text_partners_login" value="{{ module.partners_login_menu.button_partners_create_account.button_text_partners_login }}" %}</a>
                    <p>{{ module.partners_login_menu.text_2 }}</p>
                    <a href="{{ module.partners_login_menu.button_partners_login.partners_login_url.href }}" {% if module.partners_login_menu.button_partners_login.partners_login_url.open_in_new_tab %}target="_blank"{% endif %} class="btn btn-primary btn-orange">{% inline_text field="partners_login_menu.button_partners_login.button_text_partners_login" value="{{ module.partners_login_menu.button_partners_login.button_text_partners_login }}" %}</a>
                    <div class="vertical-divider"></div>
                  </div>
                  <div class="col-md-6">
                    {% inline_rich_text field="student_login_menu.title_student_login" value="{{ module.student_login_menu.title_student_login }}" %}
                    <p>{% inline_text field="student_login_menu.text_1" value="{{ module.student_login_menu.text_1 }}" %}</p>
                    <a href="{{ module.student_login_menu.button_student_login.student_login_url.href }}" {% if module.student_login_menu.button_student_login.student_login_url.open_in_new_tab %}target="_blank"{% endif %} class="btn btn-primary btn-orange">{% inline_text field="student_login_menu.button_student_login.button_text_student_login" value="{{ module.student_login_menu.button_student_login.button_text_student_login }}" %}</a>
                    
                  </div>
                  
                </div>
              </div>
            </div>
          </li>

      
          <li class="nav-item dropdown language-selector">

            <a class="nav-link dropdown-toggle language-link" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              EN
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
              <div class="navbar-menu-content container">
                <div class="row">
                  <div class="col-md-12">
                    {% inline_rich_text field="title_language" value="{{ module.title_language }}" %}
                    <ul>
                     
                      <li class="lng-en"><a class="dropdown-item" href="/{{ content.translated_content['en'].slug  }}">English</a></li>
                      <li class="lng-es"><a class="dropdown-item" href="/{{ content.translated_content['es'].slug  }}">Spanish</a></li>
                      <li class="lng-pt-br"><a class="dropdown-item" href="/{{ content.translated_content['pt-br'].slug  }}">Portuguese</a></li>
                      <li class="lng-ja"><a class="dropdown-item" href="/{{ content.translated_content['ja'].slug }}">Japanese</a></li>
                      <li class="lng-ko"><a class="dropdown-item" href="/{{ content.translated_content['ko'].slug }}">Korean</a></li>
                      <li class="lng-tr"><a class="dropdown-item" href="/{{ content.translated_content['tr'].slug }}">Turkish</a></li>
               
                    </ul>
                  </div>
                </div>

              </div>
            </div>

          </li>
        
     
          <li class="nav-item dropdown search">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-search"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
              <div class="navbar-menu-content container search-content">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-container">
                      {% inline_rich_text field="search_menu.title_search" value="{{ module.search_menu.title_search }}" %}
                      <form action="{% if content.language.languageTag != "en" %}/{{content.language.languageTag}}{% endif %}/language-schools/search-results" id="form1">
                          <input type="hidden" name="type" value="SITE_PAGE">
                          <input type="hidden" name="type" value="BLOG_POST">
                          <input type="hidden" name="type" value="LISTING_PAGE">
                          <input type="hidden" name="pathPrefix" value="{% if content.language.languageTag != "en" %}/{{content.language.languageTag}}{% endif %}/language-schools">
                        
                          {% if content.language.languageTag != "en" %}
                              <input type="hidden" name="language" value="{{content.language.languageTag}}">
                            {% else %}
                              <input type="hidden" name="language" value="en">
                          {% endif %}
                          
                        <div class="form-group">
                          <input class="form-control form-control-lg" type="text" placeholder="{{ module.search_menu.text_search_placeholder }}" id="term" name="term">
                          <div class="input-group-append btn-search">
                            <button form="form1" type="submit" class="btn btn-primary btn-clear"><i class="fas fa-times"></i></button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        
        <div class="header-cta-container">
		    	<a href="{{ module.mobile_cta.cta_1_group.cta_url.href }}" class="btn btn-primary btn-orange">{{ module.mobile_cta.cta_1_group.cta_text }}</a>
          {% if module.mobile_cta.cta_quote_group.show_link %}
            <a href="#" data-toggle="modal" data-target="{{ module.mobile_cta.cta_quote_group.cta_url.href }}" class="btn btn-outline-primary btn-pathway-blue-outline">{{ module.mobile_cta.cta_quote_group.cta_text }}</a>
		    	{% endif %}
		    	<a href="{{ module.mobile_cta.cta_2_group.cta_url.href }}" class="btn btn-outline-primary btn-black-outline">{{ module.mobile_cta.cta_2_group.cta_text }}</a>
		    </div>

      </div>
    </div>
  </nav>
</header>

